In [1]:
import pandas as pd
import numpy as np

<br>
<br>
<br>

### Data Collection

In [2]:
# loading feature selected data
train_data = pd.read_csv("../pipeline_data/2_train_feature_selected.csv")
train_data.head(3)

,C1,C2,C3,C4,C5,C6,C7,C8,N1,N2,...,N17,N18,N19,N21,N22,N23,N24,N33,N35,Dependent_Variable
0,1,1,31,1,1,False,4,True,35.00,84.0,...,6340.0,0.95,214.0,0.75,0.0,62.0,3083.333333,40.0,16.0,0
1,2,3,17,18,1,False,7,True,20.39,44.0,...,0.0,0.00,1000.0,1.00,0.0,32.0,1666.666667,200.0,5.0,1
2,1,0,0,2,0,False,0,True,28.00,NaN,...,NaN,NaN,NaN,NaN,NaN,26.0,1500.000000,42.0,15.0,1

In [3]:
# making a copy
train_data_updated = train_data.copy()

<br>
<br>
<br>

### Data Preparation

#### Categorical

Reducing cardinality of high cardinal features by keeping<br>
top n values and replacing other by 999<br>
<br>
The value for n is decided by inspecting the feature distribution

In [4]:
cat_features = ['C1', 'C2', 'C3', 'C4', 'C5', 'C7']

In [5]:
# no. of unique values
train_data_updated[cat_features].apply(lambda x: x.nunique())

C1     3
C2    21
C3    52
C4    67
C5     8
C7     8
dtype: int64

In [6]:
train_data_updated.C1.value_counts()

1    25459
2     1842
3      749
Name: C1, dtype: int64

Keeping all 3 values

<br>

In [7]:
train_data_updated.C2.value_counts() / len(train_data_updated) * 100

1     32.502674
0     30.966132
7     10.873440
3      7.672014
2      5.882353
4      4.135472
6      2.916221
5      1.354724
13     1.001783
15     0.705882
18     0.377897
19     0.349376
14     0.342246
20     0.327986
16     0.188948
11     0.110517
10     0.103387
8      0.074866
9      0.057041
17     0.032086
12     0.024955
Name: C2, dtype: float64

In [8]:
c2_values_to_keep = train_data_updated.C2.value_counts()[:7].index
c2_values_to_keep

Int64Index([1, 0, 7, 3, 2, 4, 6], dtype='int64')

In [9]:
train_data_updated.C2 = train_data_updated.C2.apply(lambda x: x if x in c2_values_to_keep else 999)
train_data_updated[cat_features].head(3)

   C1  C2  C3  C4  C5  C7
0   1   1  31   1   1   4
1   2   3  17  18   1   7
2   1   0   0   2   0   0

<br>

In [10]:
train_data_updated.C3.value_counts() / len(train_data_updated) * 100

2     13.101604
0     10.067736
7      5.458111
3      5.379679
5      5.012478
19     4.916221
1      4.616756
23     3.251337
20     3.247772
14     2.930481
15     2.659537
17     2.645276
13     2.641711
12     2.427807
6      2.114082
16     2.049911
8      1.928699
28     1.889483
26     1.885918
11     1.696970
34     1.679144
30     1.643494
10     1.525847
9      1.447415
22     1.333333
43     1.019608
38     1.012478
4      0.898396
29     0.844920
35     0.784314
31     0.641711
18     0.641711
25     0.623886
24     0.591800
21     0.552585
42     0.531194
33     0.438503
41     0.420677
40     0.417112
37     0.392157
45     0.331551
46     0.320856
44     0.317291
36     0.317291
27     0.299465
32     0.199643
49     0.188948
48     0.181818
47     0.142602
39     0.135472
51     0.110517
50     0.092692
Name: C3, dtype: float64

In [11]:
c3_values_to_keep = train_data_updated.C3.value_counts()[:7].index
c3_values_to_keep

Int64Index([2, 0, 7, 3, 5, 19, 1], dtype='int64')

In [12]:
train_data_updated.C3 = train_data_updated.C3.apply(lambda x: x if x in c3_values_to_keep else 999)
train_data_updated[cat_features].head(3)

   C1  C2   C3  C4  C5  C7
0   1   1  999   1   1   4
1   2   3  999  18   1   7
2   1   0    0   2   0   0

<br>

In [13]:
(train_data_updated.C4.value_counts() / len(train_data_updated) * 100).head(15)

1     25.411765
0     11.857398
41     4.673797
31     4.231729
12     3.597148
10     3.361854
13     3.262032
15     3.151515
16     3.140820
17     3.008913
6      2.691622
19     2.638146
4      2.106952
38     2.057041
40     1.500891
Name: C4, dtype: float64

In [14]:
c4_values_to_keep = train_data_updated.C4.value_counts()[:5].index
c4_values_to_keep

Int64Index([1, 0, 41, 31, 12], dtype='int64')

In [15]:
train_data_updated.C4 = train_data_updated.C4.apply(lambda x: x if x in c4_values_to_keep else 999)
train_data_updated[cat_features].head(3)

   C1  C2   C3   C4  C5  C7
0   1   1  999    1   1   4
1   2   3  999  999   1   7
2   1   0    0  999   0   0

<br>

In [16]:
train_data_updated.C5.value_counts() / len(train_data_updated) * 100

2    45.518717
1    29.807487
0    13.964349
4     5.126560
6     1.903743
5     1.461676
7     1.240642
3     0.976827
Name: C5, dtype: float64

In [17]:
c5_values_to_keep = train_data_updated.C5.value_counts()[:4].index
c5_values_to_keep

Int64Index([2, 1, 0, 4], dtype='int64')

In [18]:
train_data_updated.C5 = train_data_updated.C5.apply(lambda x: x if x in c5_values_to_keep else 999)
train_data_updated[cat_features].head(3)

   C1  C2   C3   C4  C5  C7
0   1   1  999    1   1   4
1   2   3  999  999   1   7
2   1   0    0  999   0   0

<br>

In [19]:
train_data_updated.C7.value_counts() / len(train_data_updated) * 100

4    29.508021
2    23.169340
0    14.231729
6    11.907308
1    10.905526
7     8.324421
3     1.019608
5     0.934046
Name: C7, dtype: float64

In [20]:
c7_values_to_keep = train_data_updated.C7.value_counts()[:5].index
c7_values_to_keep

Int64Index([4, 2, 0, 6, 1], dtype='int64')

In [21]:
train_data_updated.C7 = train_data_updated.C7.apply(lambda x: x if x in c7_values_to_keep else 999)
train_data_updated[cat_features].head(3)

   C1  C2   C3   C4  C5   C7
0   1   1  999    1   1    4
1   2   3  999  999   1  999
2   1   0    0  999   0    0

<br>

In [22]:
# updated unique value counts
train_data_updated[cat_features].apply(lambda x: x.nunique())

C1    3
C2    8
C3    8
C4    6
C5    5
C7    6
dtype: int64

<br>
<br>
<br>

#### Numerical Data

In [23]:
numerical_features = train_data_updated.columns[8:-1]
numerical_features

Index(['N1', 'N2', 'N3', 'N4', 'N7', 'N8', 'N9', 'N10', 'N10.1', 'N11', 'N12',
       'N14', 'N15', 'N16', 'N17', 'N18', 'N19', 'N21', 'N22', 'N23', 'N24',
       'N33', 'N35'],
      dtype='object')

In [24]:
# outlier limit for each feature
# derived from EDA

outlier_limit = {
    'N1': 45,
    'N2': 530,
    'N3': 4.3,
    'N4': 40,
    'N7': 95,
    'N8': 33,
    'N9': 45,
    'N10': 4500,
    'N10.1': 32,
    'N11': 80,
    'N12': 100_000,
    'N14': 100,
    'N15': 13,
    'N16': 2,
    'N17': 450_000,
    'N18': 1.8,
    'N19': 260_000,
    'N21': 1,
    'N22': 10,
    'N23': 2100,
    'N24': 50_000,
    'N33': 500,
    'N35': 54,
}

Instead of caping or removing the outliers, we'll replace them with null values.<br>
So they can be imputed later. This will prevent data loss.

In [25]:
# replacing outliers with na

for feature in numerical_features:
    train_data_updated[feature] = train_data_updated[feature].apply(lambda x: x if x <= outlier_limit[feature] else np.nan)

<br>
<br>

In [26]:
# missing values in each feature

train_data_updated[numerical_features].isna().sum()

N1           0
N2        3934
N3         334
N4        3934
N7         393
N8          16
N9       22101
N10        377
N10.1      390
N11        631
N12       3942
N14        524
N15        384
N16       3933
N17       3932
N18       3935
N19       3906
N21       3891
N22       3906
N23       2094
N24         18
N33          9
N35        390
dtype: int64

All the instances where N19 is null, respective N2, N4, N12 and N16 - N22 are also null<br>
This indicates MNAR `Missing Not At Random`

We can remove these datapoints, but imputing them provides better result<br>
Also it avoids loss of data

<br>

Imputing missing values using Aggregate (median)

In [27]:
for feature in numerical_features:
    train_data_updated[feature].fillna(train_data_updated[feature].median(), inplace=True)

`OR`

Imputing missing values using KNNImputer

In [20]:
from sklearn.impute import KNNImputer

In [21]:
imputer = KNNImputer(n_neighbors=5)

In [22]:
# imputing & updating dataframe

imputed_data = imputer.fit_transform(train_data_updated[numerical_features])
train_data_updated[numerical_features] = pd.DataFrame(imputed_data, columns=train_data_updated[numerical_features].columns, index=train_data_updated[numerical_features].index)
train_data_updated[numerical_features].head()

,N1,N2,N3,N4,N7,N8,N9,N10,N10.1,N11,...,N16,N17,N18,N19,N21,N22,N23,N24,N33,N35
0,35.00,84.0,3.0,11.0,44.0,9.0,232.0,0.0,0.0,4.0,...,0.0,6340.0,0.950,214.0,0.750,0.0,62.0,3083.333333,40.0,16.0
1,20.39,44.0,3.6,1.0,4.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.000,1000.0,1.000,0.0,32.0,1666.666667,200.0,5.0
2,28.00,74.4,2.5,1.0,25.0,1.0,0.0,9.0,2.0,8.0,...,0.0,40.6,0.202,160.0,0.568,0.4,26.0,1500.000000,42.0,15.0
3,18.00,134.0,3.3,11.0,21.0,8.0,171.0,0.0,6.0,22.0,...,0.0,5879.0,0.150,32921.0,0.830,2.0,30.0,4583.333333,120.0,19.0
4,31.77,131.0,3.4,5.0,6.0,2.0,88.0,0.0,4.0,5.0,...,0.0,2784.0,0.560,2116.0,0.830,0.0,34.8,4166.666667,80.0,13.0

<br>
<br>

In [28]:
# checking for null values
train_data_updated.isna().any().any()

False

<br>
<br>

Converting skewed distribution using `log_transformation` to have normal-like distribution

In [29]:
# features derived from EDA

skewed_features = [
    'N2',
    'N9',
    'N17',
    'N19',
]

In [30]:
# applying log(1+x)

for feature in skewed_features:
    train_data_updated[feature] = np.log1p(train_data_updated[feature])

<br>
<br>
<br>

In [31]:
# updated train data
train_data_updated.head()

,C1,C2,C3,C4,C5,C6,C7,C8,N1,N2,...,N17,N18,N19,N21,N22,N23,N24,N33,N35,Dependent_Variable
0,1,1,999,1,1,False,4,True,35.00,4.442651,...,8.754792,0.95,5.370638,0.75,0.0,62.0,3083.333333,40.0,16.0,0
1,2,3,999,999,1,False,999,True,20.39,3.806662,...,0.000000,0.00,6.908755,1.00,0.0,32.0,1666.666667,200.0,5.0,1
2,1,0,0,999,0,False,0,True,28.00,3.970292,...,8.704834,0.56,8.117462,0.92,1.0,26.0,1500.000000,42.0,15.0,1
3,1,1,999,12,2,False,2,True,18.00,4.905275,...,8.679312,0.15,10.401896,0.83,2.0,30.0,4583.333333,120.0,19.0,0
4,1,7,999,1,4,False,2,False,31.77,4.882802,...,7.932003,0.56,7.657755,0.83,0.0,40.0,4166.666667,80.0,13.0,1

In [32]:
# saving prepared dataset
train_data_updated.to_csv("../pipeline_data/3_train_prepared.csv", index=None)